@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Century Gothic';
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
section{
    max-width: 1205px;
    margin: 0 auto;
    position: relative;
}
