@import "./style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Century Gothic';
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
section{
    max-width: 1205px;
    margin: 0 auto;
    position: relative;
}
.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);   
}
.mya{color:#0000ffe5}.mya:hover{color: #639;}

.reportsTable,.reportsTableHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reportsTableP,.reportsTableHead p{
    width: 70px;
}
.reportsTableNML{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

