@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body{
    background-color: rgb(255, 190, 128);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Century Gothic';
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
section{
    max-width: 1205px;
    margin: 0 auto;
    position: relative;
}
.logokrita{
    width: 60px;
}
.sfmimg{
    width: 120px;
}
header{
    background-color: rgb(70, 70, 70);
    color: white;
}
.sectionmain{
    background-color: rgb(192, 192, 192);
}
footer{
    background-color: rgb(37, 37, 37);
    color: white;
}
.secActions{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
}

.secActions a{
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.secActions a:hover,
.secActions a:focus{
    color: black;
}

.sectionitems{
    display: grid;
    grid-template-columns:  300px 300px 300px;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-img{
    width: 200px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    max-width: 300px;
}




@custom-variant dark (@media(prefers-color-scheme: dark));


@theme {
    --color-main: #fc9803;
    --color-accent: #f403fc;
    --color-brand-50: #fcc2b6;
    --color-brand-100: #faafa0;
    --color-brand-200: #fa9a87;
    --color-brand-300: #fc7c62;
    --color-brand-400: #ff6040;
    --color-brand-500: #fc2c03;
    --color-brand-600: #e62600;
    --color-brand-700: #bd2102;
    --color-brand-800: #9c1a00;
    --color-brand-900: #801703;
    --color-brand-950: #591001;

    --text-32: 2rem;

    --gap-my: 60px;
}